numpy
pandas
pickleDB
seaborn
hdbscan
umap-learn
matplotlib
scikit-learn
pytorch
torch
torchvision
transformers
pypi-json
sentence-transformers

langchain-community 
langchain-core 
langchain-openai
accelerate 
peft 
bitsandbytes 
transformers 
trl
opencv-python

llama-index-core 
llama-index-llms-litellm
pydantic
langchain

os-sys
json
networks
pillow

# open_clip_torch # original CLIP; SigLIP
# timm # SigLIP
# pathlib
# collections
